<html lang="en" class="full-height">
	<head>
		
	</head>
	<!--Main Navigation-->
	<body>
		
		<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark nav-bg ">
           
    <!-- Navbar brand -->
	   
			<logo>
				<a class="navbar-brand" alt="Quickgas" title="Quickgas" routerLink="">
					<img  src="assets/images/footer_logo.png"/>
				</a>
			</logo>
			<!--Collapsible links-->
	        <links>
	        	
				<ul class="navbar-nav ml-auto">
	                
	                <li class="nav-item">
	                    <a  class="nav-link waves-light" mdbRippleRadius   [routerLink]="['/vendors']">Vendors</a>
	                </li>
	               
	                <li class="nav-item">
	                    <a class="nav-link waves-light" mdbRippleRadius  [routerLink]="['/faq']" >Faq</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link waves-light " mdbRippleRadius  [routerLink]="['/account']" >Register</a>
	                </li>

				</ul>
			</links>
		    	
		    
		</mdb-navbar>
	   

	<!--main content-->

		<section class="main_content">
			<router-outlet></router-outlet>
		</section>
		<!--/main comtent-->
	
<!--Footer-->
<footer class="page-footer light-blue accent-4 center-on-small-only" style="background: #3d7aa4 !important;">
		<!--Footer Links-->
	 <div class="container-fluid">
		 <div class="row center-col">
			 <!--First column-->
			 <div class="col-lg-3 col-md-6 ml-auto">
				 <h5 class="title mb-3"></h5>
				 <img src="assets/images/footer_logo.png"/>
			 </div>
			 <!--/.First column-->
 
				 <hr class="w-100 clearfix d-sm-none">
 
			 <!--Second column-->
			 <div class="col-lg-2 col-md-6 ml-auto">
				 <h5 class="title mb-3">Company</h5>
				 <ul>
						<li> <a href="https://blog.quickgas.com.ng" target="_blank" >Blog</a></li>
						<li> <a routerLink="/careers" >Careers</a></li>
						<li> <a routerLink="/contact" >Contact</a></li>
				 </ul>
			 </div>
			 <!--/.Second column-->
 
			 <hr class="hidden-md-up">
 
			 <!--Third column-->
			 <div class="col-lg-2 col-md-6 ml-auto">
				 <h5 class="title mb-3">Social Conects</h5>
				 <ul>
						<li> <a routerLink="" >Facebook</a></li>
						<li> <a routerLink="" >Twitter</a></li>
						<li> <a routerLink="" >Intagram</a></li>
				 </ul>
			 </div>
			 <!--/.Third column-->
 
			 <hr class="hidden-md-up">
 
			
			 <!--/.Fourth column-->
		 </div>
	 </div>
	 <!--/.Footer Links-->
 
	 <!--Copyright-->
	 <div class="footer-copyright">
		 <div class="container-fluid">
			 © {{current_date|date:'yyyy'}}  <a href="https://vacvi.com"  rel="nofollow"> Vacvi </a>
 
		 </div>
	 </div>
	 <!--/.Copyright-->
 
 </footer>
 <!--/.Footer-->
		
	</body>
	
</html>