
$g_gradient:#1488a5;
$b_gradient:#0b4c8f;

.nav-bg
{
    background-color:#3d7aa4 !important;
    height: 62px;
    box-shadow: 0 2px 5px 0 #ff8e3891, 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    
}

.nav-link
{
    line-height: 68px !important;
    font-weight: 400 !important;
    /*color: #403e3c !important;*/
    font-size: 18px !important;
    text-transform: capitalize !important;
}

body{
    font-family: 'Proxima Nova','Helvetica Neue','Roboto',Helvetica,Arial,sans-serif;
}

.footer a
{
    color:black !important;
}

.btn_android
{
    background: transparent !important;
    border:solid 1px white !important;
    color:white !important;
    border-radius:3px; 
    box-shadow: 0 3px 9px 0 rgba(41,41,51,0.25);
    font-size: 18px !important;
    font-weight: 500 !important;
    padding: 0.5rem 2.13rem !important;
}

.btn_ios
{
    background-color: #ff7907d6 !important;
    border:solid 1px #ff7907d6 !important;
    color:white !important;
    border-radius:3px;
    box-shadow: 0 3px 9px 0 rgba(41,41,51,0.25); 
    font-size: 18px !important;
    font-weight: 500 !important;
    padding: 0.5rem 2.13rem !important;
}

.main_title
{
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    color:white !important;
    text-align: center;
    font-size: 50px;
    line-height: 1.1;
}

.main_title_sub
{
    font-size: 22px;
    line-height: 1.4167;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    color:white !important;
}

.skew:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: visible;
  width: 100%;
  height: 250px;
  background: #00bcd4;
  z-index: -1;
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;
}

.bg-gas2
{
    background-color: #ff7907;
}

.reg_btn
{
    background-color: #ff7907;
}

.bg-gas
{
    background-color: #0b4c8f;
}

.btn-rounded
{
    border-radius:3px;
}
.footer li
{
    font-weight: 400;
    margin-bottom: 3px;
    font-size: 17px;
    color: black;
}

.border-radius
{
    border-radius:2px
}

.bg-white
{background-color:white}

.padding-40
{
    padding-top: 40px;
    padding-bottom: 40px;
}

.how img
{
    max-width: 45%;
    height: 230px;
    margin-top: 30px;
}
.gas-text
{
   color:  #3d7aa4 !important;
}
.bg-lite
{
    background-color: #fbfbfb;
}

.box-shadow
{
    -webkit-box-shadow: 0 3px 2px 0 rgba(0,0,0,.18), 0 4px 3px 0 rgba(0,0,0,.15);
    box-shadow: 0 3px 2px 0 rgba(0,0,0,.18), 0 4px 5px 0 rgba(0,0,0,.15);
    margin-right: 10px;
    padding: 10px;
}

.point i
{
    font-size: 60px;
    color: #3d7aa4;
}

.point p{
    margin-top: 17px;
    color: #5a5958;
    font-weight: 400 !important;
}

.center-col
{
    float:none !important;
    margin-left:auto !important;
    margin-right:auto !important;
}

.center-img
{
    float:none !important;
    margin-left:auto !important;
    margin-right:auto !important;
    display: block;
}

.point .title
{
    display: inline-block;
    font-size: 21px;
    line-height: 36px;
    color: black;
    font-weight:400;
    margin-top:7px
}

.nav-link
{
    
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    margin-left: 16px;
    padding: 0 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -webkit-transition: background 300ms ease-out;
    -moz-transition: background 300ms ease-out;
    -ms-transition: background 300ms ease-out;
    -o-transition: background 300ms ease-out;
    transition: background 300ms ease-out;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.bg-gas
{
    background-color: #0b4c8f;
}

.font-13
{
    font-size: 13px;
}
.main_banner{

    background: url("assets/images/bg_home.jpg")no-repeat top;
    background-size: cover;
    max-height: 510px;
    height: 510px;

}

.account
{
    margin-top:90px;
    margin-bottom:100px;
}

.account .md-form .prefix {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    position: absolute;
    width: 3rem;
    font-size: 1.3rem;
    padding-top: 1.2rem;
}

.account .md-form
{
    margin-bottom: 0.9rem !important;
}

.error
{
    color: red;
    font-size: 12px;
}

.account .card
{
    padding: 10px; 
    padding:7px;
}
.account label
{
    color:#403f3f !important;
}
.light-text
{
    color:#807e7d;
}

.download_icon
{
    height: 50px;
    width: 50px;
}
.download_image
{
    height: 50px;
    width: 150px;
}



.top-nav-collapse {

    background-color: #424f95 !important;

}




h6 {

    line-height: 1.7;

}

.no-box
{
    box-shadow: none;
}


.gradient2
{
    height: 510px;
}





@media (max-width: 450px) {

    .margins {

        margin-right: 1rem;

        margin-left: 1rem;

    }

}





@media (max-width: 768px) {

    /*.navbar:not(.top-nav-collapse) {

        background: #424f95 !important;

    }*/
    .hidden-sm-up
    {
    display:none
    }
    .account {
    margin-top: 73px;
    margin-bottom: 73px;
    }
    .reg_btn
    {
        background-color:transparent;
    }
    .float-left
    {
        margin-left:auto ! important;
        margin-right:auto ! important;
        float:none ! important;
    }

}

/*background: linear-gradient(78deg,#3f51b5e8, #00bcd4f0)*/