

<section class="main_banner">
    <div class="gradient2" style="background-color: rgba(0,0,0,0.36)">
        <div class="container flex-center">
            <div class="row flex-center">
                <div class="col-md-12 center-col text-center text-md-left margins">
                   
                        <h1  class="h1-responsive  font-bold  main_title  mt-sm-5 wow slideInUp" data-wow-delay="0.2s" data-wow-duration="2s" >Quick Cooking Gas Refill </h1>
                     
                        <h6 style="margin-top:13px" class="wow  main_title_sub fadeIn" >Making cooking hassle free.
                        </h6>
                        <br>
                        <div class="row">
                        	<div class="col-md-6">
                        		 <a class="btn btn_android wow no-box fadeInLeft" data-wow-delay="0.3s">
                        		 DOWNLOAD	<img class="download_icon" data-wow-delay="0.3s" src="assets/images/android.png">
                        		 </a>
                        	</div>

                        	<div class="col-md-6">
                        		<a class="btn wow no-box btn_ios  fadeInRight" data-wow-delay="0.3s">
                        			DOWNLAOD <img class="download_icon" data-wow-delay="0.3s" src="assets/images/ios.png">
                        		</a>
                        	</div>

                        </div>
                      
            
                
                    
                </div>
            </div>
        </div>
    </div>
</section>
    
<section class="bg-lite point padding-40">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="center-col">
					<div class="col-md-4 text-center float-left">
						<i class="fa fa-car wow pulse"></i>
						<div class="text-sec">
							<span class="text-center title">Fast</span>
						</div>
						<div class="text-sec">
							<p class="text-center">We deliver refil to your house in mins</p>
						</div>
					</div>

					<div class="col-md-4  text-center float-left">
						<i class="fa fa-calendar-plus-o wow pulse"></i>
						<div class="text-sec">
							<span class="text-center title">Schedule</span>
						</div>
						<div class="text-sec">
							<p class="text-center">Quickgas app enable you to schedule refill</p>
						</div>
					</div>

					<div class="col-md-4  text-center float-left">
						<i class="fa fa-chrome wow pulse"></i>
						<div class="text-sec">
							<span class="text-center title">Reliable</span>
						</div>
						<div class="text-sec">
							<p class="text-center">We deal with quality</p>
						</div>
					</div>

					
				</div>
			</div>
		</div>
	</div>
</section>
<section  class="how padding-40 " style=" background:#3d7aa4;">
	<div class="container-fluid">
		<div class="row justify-content-center " >
			<div class="col-md-8 ">
			
				<h2 class="text-center white-text " style="margin-bottom: 30px;">How Quickgas works?</h2>
				<div class="col-md-4 wow slideInLeft   float-left" style="margin-bottom:10px" >
					<h5 class="white-text text-center" >1. Request Refill</h5>
						<img class="center-img"  src="assets/images/request.jpg" data-wow-delay="0.1s">
	
				</div>
				<div class="col-md-4   float-left" style="margin-bottom:10px">
					<h5 class="white-text text-center" >2. Select Product</h5>
					<img class="center-img" src="assets/images/select.jpg">
				</div>
	
				<div class="col-md-4 wow slideInRight  float-left" style="margin-bottom:10px"  data-wow-delay="0.1s">
					<h5 class="white-text text-center" >3. Confirm Order Delivery</h5>
					<img class="center-img" src="assets/images/payment.jpg">
				</div>
				
			</div>
		</div>
	</div>
</section>

<section  class="padding-40 bg-lite">
	<div class="container-fluid">
		<div class="row">
			<div class="center-col">
				<div class="col-md-7 float-left">
					<h4 style="font-weight: bold">Become Quickgas Vendor</h4>
					<p>We connect gas vendors to customers through our mobile app.</p>
					<p>Sign up to become our accredited vendor in your area.</p>
						<button mdbRippleRadius  [routerLink]="['/account']" class="btn btn-rounded bg-gas2 waves-light">REGISTER</button>

				</div>
				<div class="col-md-3 float-left">
					<i style="font-size: 170px;
					color: #0bacd0;" class="fa fa-truck"></i>
				</div>
			</div>
		</div>
	</div>

</section>