<style type="text/css">
	body
	{
		background-color: silver !important;
	}
</style>
<section class="account form-dark">
	<div class="row center-col">

		<div class="col-md-12 row center-col">

            <div class="card col-md-6 center-col card-image py-5 px-5 z-depth-4"  >
            	<div class="row">
	            	<div class="col-md-6 float-left" style="border-right: solid 1px #18434826;" >
	            		<h5 class="light-text mb-5 mt-4 font-bold " style="margin-bottom: 7px !important;"><strong>CREATE AN ACCOUNT</strong> </h5>
	            		
	            		<div class="hidden-sm-up" style="margin-top: 80px">
							<ul>
								<li>Welcome to world of quick gas refill.</li>

								<li>We are committed to making life easier </li>
								
								<li>100% cash out for vendors </li>
							</ul>
		            	
		            	</div>
	            		

	            	</div>
	            	<div class="col-md-6 float-left">
		        		
		        		<span class="error">{{r_error}}</span>
		        			
		        		<div  style="margin-top: 16px;" [hidden]="!main_div" class="text-white ">

				            <form  (ngSubmit)="onRegister(regForm)" #regForm="ngForm">
				            
				           		<div class="md-form">
					                <input required  type="text" id="name" name="name" [(ngModel)]="user.name" class="form-control "  #name="ngModel" mdbActive>
					                <label  for="name">Full Name</label>
					                <div *ngIf="name.invalid && (name.dirty || name.touched)" >
					                <div class="error" *ngIf="name.errors.required">Name is required.</div>
					               </div>
					            </div>
					            <div class="md-form">
					                <input type="email" email  name="email" id="email" [(ngModel)]="user.email" class="form-control" #email="ngModel" mdbActive>
					                <label for="email">Email</label>
					                <div *ngIf="email.invalid && (email.dirty || email.touched)" >
					                	<div class="error" *ngIf="email.errors?.email">Invalid email.</div>
					                </div>

					            </div>
					            <div class="md-form">
					                <input name="phonenumber" #phonenumber="ngModel" number type="text" maxlength="11" minlength="11" id="phonenumber" [(ngModel)]="user.phonenumber" class="form-control" #phonenumber="ngModel" mdbActive>
					                <label for="phonenumber">Phone Number</label>
					            	<div *ngIf="phonenumber.invalid && (phonenumber.dirty || phonenumber.touched)" >
					                	<div class="error" *ngIf="phonenumber.errors.number">Invalid phone number.</div>
					               
					                	<div class="error" *ngIf="phonenumber.errors.maxlength">Must be 11 digits.</div>
					                </div>
					            </div>
					            <div class="md-form">
					                <input name="password" type="password" id="password" [(ngModel)]="user.password" class="form-control " mdbActive>
					                <label for="email">Password</label>
					            </div>
					            <div class="md-form">
					               <select name="area" [(ngModel)]="user.area" class="my_select form-control" mdbActive required="">
						               	
						               	<option *ngFor="let area of Areas" value="{{area}}">{{area}}</option>
					               </select>
					               <label for="area">Area</label>
					            </div>

					            <div class="md-form">
					               
					              <select required name="type"  [(ngModel)]="user.type" class="my_select form-control" mdbActive>

					               	<option value="0">Customer </option>
					               
					                <option value="1">Vendor </option>
					               </select>
					               <label for="type">Type</label>
					            </div>

				                <div class="md-form">
				                    <input required=""  type="checkbox" [(ngModel)]="user.term" id="term" name="term" mdbActive><span class="black-text font-13">  Accept the</span> <a routerLink="legal" class="black-text font-13 ">Terms and Conditions</a>
				                    
				                </div>
					            
					            <div class="row d-flex align-items-center mb-4">

					                <!--Grid column-->
					                <div class="text-center mb-3 col-md-12">
					                    <button type="submit" class="btn bg-gas btn-block btn-rounded z-depth-1">Submit</button>
					                </div>
					                <!--Grid column-->
					            </div>
					        </form>
			          	</div>

			          	<div style="margin-top: 40px;" [hidden]="!e_div">
			          		<form  (ngSubmit)="onEToken(emailForm)" #emailForm="ngForm">
			          			<h5>Enter the token send to your email below</h5>

			          			<div class="md-form">
					                <input required  type="number" id="email_t" name="email_t" [(ngModel)]="email_t" class="form-control "  #email="ngModel" mdbActive>
					                
					          
					            </div>

					            <div class="text-center mb-3 col-md-12">
					                    <button type="submit" class="btn bg-gas btn-block btn-rounded z-depth-1">Continue <i class="fa fa-arrow-right"></i></button>
					                </div>
					                

			      
			          		</form>
			          	</div>

			          	<div style="margin-top: 40px;" [hidden]=" ! p_div">
			          		<form  (ngSubmit)="onPToken(phoneForm)" #phoneForm="ngForm">
			          			<h5>Enter the token send to your phone number below</h5>

			          			<div class="md-form">
					                <input required  type="number" id="phone_t" name="email_t" [(ngModel)]="phone_t" class="form-control "  #email="ngModel" mdbActive>
					                

					            </div>

					            <div class="text-center mb-3 col-md-12">
					                    <button type="submit" class="btn bg-gas btn-block btn-rounded z-depth-1">Continue</button>
					                </div>
					                

			      
			          		</form>
			          	</div>

			          	<div style="margin-top: 40px;" [hidden]=" !s_div">
			          		<i class="fa fa-check-circle" style="color: green; font-size: 100px;text-align: center;margin-top:20px;margin-bottom:10px;display:block"></i>
			          		<h4 style="text-align: center;">Registration Completed</h4>

			          		<div class="row center-col" style="margin-top: 20px">
                        	<div class="col-md-6">
                        		 <a class=" wow no-box fadeInLeft" data-wow-delay="0.3s">
                        		 	<img style="width:122px;" class="download_icon" data-wow-delay="0.3s" src="assets/images/play_store.png">
                        		 </a>
                        	</div>

                        	<div class="col-md-6">
                        		<a class="wow no-box  fadeInLeft" data-wow-delay="0.3s">
                        			<img style="width:122px;" class="download_icon" data-wow-delay="0.3s" src="assets/images/ios_store.png">
                        		</a>
                        	</div>

                        </div>
			          	</div>
			            
		        	</div>
		        </div>
	        </div>

        </div>
    </div>
    
</section>